@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar {
  max-height: calc(85vh - 120px);
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

@media (max-width: 640px) {
  .custom-scrollbar {
    max-height: calc(100vh - 140px);
  }
}
